header{
    color: #3c184e;
    line-height: 2rem;
    height: 30vh;

    display: flex;
    align-items: center;
}

.containerLogo{
    padding-left: 5rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 2em;
}

@media screen and (min-width: 320px) and (max-width:767px){ /*para celular*/
    header{
        justify-content: center;
    }

    .containerLogo{
        padding: 0;
    }
}